header {
    display: block;
    height: 500px;
    width: 100vw;
    background: rgb(116, 167, 116);
    color: rgb(255, 255, 255);
}

.about {
    padding: 1% 2% 1%;
}

nav>a {
    height: 10%;
    width: 100vw;
    background: transparent;
}

nav {
    display: inline-flex;
    margin: 20% 20%b 20%;
    width: 80%;
    padding: 25px;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

body {
    display: inline-block;
    background: rgb(90, 75, 75);
    color: rgb(247, 232, 232);

}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% auto;
}

article {
    height: 324px;
    width: 270px;
    text-align: center;
    padding: 20px;
}

@media (max-width:576px) {

    header {
        background: rgb(144, 201, 240);
        color: rgb(241, 232, 220);
    }

    body {
        background: rgb(241, 232, 220);
        color: rgb(90, 75, 75);
    }

    article {
       display: flex;
       flex-direction: row;
    
    }

}

